<a href="https://colab.research.google.com/github/chayaphon/DADS5001/blob/main/Assignment_3/code.ipynb#scrollTo=IzFf1CXgipHb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/chayaphon/DADS5001/main/Assignment_3/data/2021-2022.csv')
display(df)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [19]:
# Slecting interesting column and check null data
cols = ['HomeTeam','AwayTeam','FTR']
df = df[cols]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HomeTeam  380 non-null    object
 1   AwayTeam  380 non-null    object
 2   FTR       380 non-null    object
dtypes: object(3)
memory usage: 9.0+ KB

In [20]:
# Calculating home, away, and total win rates for each team
home_wins = df[df['FTR'] == 'H'].groupby('HomeTeam').size()
away_wins = df[df['FTR'] == 'A'].groupby('AwayTeam').size()
total_matches_home = df.groupby('HomeTeam').size()
total_matches_away = df.groupby('AwayTeam').size()
total_wins = home_wins.add(away_wins, fill_value=0)
total_matches = total_matches_home.add(total_matches_away, fill_value=0)
home_win_rate = ((home_wins / total_matches_home) * 100).round(2)
away_win_rate = ((away_wins / total_matches_away) * 100).round(2)
win_rate = ((total_wins / total_matches) * 100).round(2)
df_win_rates = pd.DataFrame({
    'Home Win Rate %': home_win_rate,
    'Away Win Rate %': away_win_rate,
    'Total Win Rate %': win_rate
})
df_win_rates.sort_values(by='Total Win Rate %', ascending=False)

                Home Win Rate %  Away Win Rate %  Total Win Rate %
Man City                  78.95            73.68             76.32
Liverpool                 78.95            68.42             73.68
Tottenham                 68.42            47.37             57.89
Arsenal                   68.42            47.37             57.89
Chelsea                   47.37            63.16             55.26
Man United                52.63            31.58             42.11
West Ham                  47.37            36.84             42.11
Wolves                    36.84            42.11             39.47
Leicester                 52.63            21.05             36.84
Aston Villa               31.58            36.84             34.21
Newcastle                 42.11            26.32             34.21
Brentford                 36.84            31.58             34.21
Brighton                  26.32            36.84             31.58
Crystal Palace            36.84            21.05             28.95
Everton                   47.37            10.53             28.95
Leeds                     21.05            26.32             23.68
Southampton               31.58            15.79             23.68
Burnley                   26.32            10.53             18.42
Watford                   10.53            21.05             15.79
Norwich                   15.79            10.53             13.16

In [21]:
# Defining the median of Home and Away Win Rates to split the quadrants
median_home_win_rate = df_win_rates['Home Win Rate %'].median()
median_away_win_rate = df_win_rates['Away Win Rate %'].median()

In [23]:
# Data Visualization using Plotly

import plotly.express as px

# Create a scatter plot using Plotly Express
fig = px.scatter(df_win_rates, x='Away Win Rate %', y='Home Win Rate %', color=df_win_rates.index,
                 color_continuous_scale='tab20', text=df_win_rates.index)

# Add lines for median Home and Away Win Rates
fig.add_shape(type='line', x0=0, x1=100, y0=median_home_win_rate, y1=median_home_win_rate,
              line=dict(color='grey', dash='dash'))
fig.add_shape(type='line', x0=median_away_win_rate, x1=median_away_win_rate, y0=0, y1=100,
              line=dict(color='grey', dash='dash'))

# Update layout with title, axis labels, and limits
fig.update_layout(title='English Premier League 2021-2022 Win Rate',
                  title_x=0.5,
                  xaxis_title='Away Win Rate %', yaxis_title='Home Win Rate %',
                  xaxis_range=[0, 100], yaxis_range=[0, 100])

# Move legend outside the plot
fig.update_layout(legend=dict(title='Teams'), legend_x=1, legend_y=0.5)

# Adjust the size of the plot for better label visibility
fig.update_layout(width=1000, height=800) 
fig.update_traces(textposition='top center')
fig.update_traces(textfont=dict(color='rgba(0,0,0,0.5)')) 

# Show the plot
#fig.write_image("plotly_output.png")
fig.show()